<div class="calculator">
  <input type="text" id="display" [value]="display" readonly />

  <!-- Botões da calculadora -->
  <button class="clear" (click)="clear()">C</button>
  <button (click)="appendNumber('1')">1</button>
  <button (click)="appendNumber('2')">2</button>
  <button (click)="appendNumber('3')">3</button>
  <button class="operator" (click)="chooseOperation('/')">/</button>

  <button (click)="appendNumber('4')">4</button>
  <button (click)="appendNumber('5')">5</button>
  <button (click)="appendNumber('6')">6</button>
  <button class="operator" (click)="chooseOperation('*')">x</button>

  <button (click)="appendNumber('7')">7</button>
  <button (click)="appendNumber('8')">8</button>
  <button (click)="appendNumber('9')">9</button>
  <button class="operator" (click)="chooseOperation('-')">-</button>

  <button (click)="appendNumber('0')">0</button>
  <button (click)="appendDecimal()">.</button>
  <button class="equal" (click)="compute()">=</button>
  <button class="operator" (click)="chooseOperation('+')">+</button>
</div>
