<div class="calculator">
  <input type="text" id="display" [value]="display" readonly />

  <!-- Botões da calculadora -->
  <button class="clear" (click)="clear()">C</button>
  <button (click)="adicionarNumero('1')">1</button>
  <button (click)="adicionarNumero('2')">2</button>
  <button (click)="adicionarNumero('3')">3</button>
  <button class="operator" (click)="tipoOperacao('/')">/</button>

  <button (click)="adicionarNumero('4')">4</button>
  <button (click)="adicionarNumero('5')">5</button>
  <button (click)="adicionarNumero('6')">6</button>
  <button class="operator" (click)="tipoOperacao('*')">x</button>

  <button (click)="adicionarNumero('7')">7</button>
  <button (click)="adicionarNumero('8')">8</button>
  <button (click)="adicionarNumero('9')">9</button>
  <button class="operator" (click)="tipoOperacao('-')">-</button>

  <button (click)="adicionarNumero('0')">0</button>
  <button (click)="decimal()">.</button>
  <button class="equal" (click)="calcular()">=</button>
  <button class="operator" (click)="tipoOperacao('+')">+</button>
</div>
