body {
  background: linear-gradient(135deg, #003d79, #007b8d, #00bda8);
  background-size: 200% 1%;
  animation: metallicEffect 10s ease infinite;

@keyframes metallicEffect {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
}
